.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont {
  width: 455px;
  padding: 30px 10px;
  border: 2px solid #dfdfdf;
}

@media (max-width: 820px) {
  .main {
    margin-top: 200px;
  }
}

input {
  margin-left: 10px;
  margin-bottom: 5px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 95px;
  border: 2px solid #dfdfdf;
  outline: none;
  font-size: 25px;
}

.sub-cont {
  position: absolute;
}

.row {
  text-align: center;
}

.row--btn {
  margin-top: 15px;
  margin-left: 10px;
  cursor: pointer;
}
.row1--btn {
  font-size: 25px;
  border: 1px solid #bdbdbd;
  background-color: #dddddd;
}
.row1-btn1 {
  padding: 12px 41px;
}
.row1-btn2 {
  padding: 12px 43px;
}
.row1-btn3 {
  padding: 12px 40px;
}
.row1-btn4 {
  padding: 12px 40px;
}

.row2,
.row3,
.row4,
.row5 {
  margin-right: 111px;
}

.row2--btn,
.row3--btn,
.row4--btn,
.row5--btn {
  padding: 14px 42px;
  font-size: 20px;
  background-color: #f9f9f9;
  border: 1px solid #dfdfdf;
}
.btn {
  font-size: 20px;
  padding-right: 47px;
}
.btn-AC {
  font-size: 10px;
  font-weight: bold;
  padding-top: 23px;
  padding-bottom: 17px;
  padding-left: 40px;
}
.row6--btn {
  padding: 48px 40px;
  position: relative;
  margin-left: 330px;
  margin-top: 85px;
  font-size: 20px;
  border: 1px solid #4779c9;
  background-color: #4d8ffd;
  color: white;
}
.row7--btn {
  position: relative;
  padding: 45px 36px;
  margin-left: 330px;
  font-size: 25px;
  border: 1px solid rgb(237, 33, 33);
  background-color: rgb(244, 63, 63);
  color: white;
}
